*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    /* color: red; */
}
#main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
button{
    background-color: rgb(57, 14, 231);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 12px;
    width: 200px;
    margin: 50px;
}
button:hover{
    background-color: rgb(86, 54, 213);
    color: rgb(227, 219, 219);
}
#button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}